@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans:400,700|Yeseva+One&display=swap');

body {
  font: 300 14px/1.8 'Montserrat', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #19273e;
}

a:hover {
  text-decoration: none;
  color: #213452;
}

/* ---------------------------------------------- /*
 * Reset box-shadow
/* ---------------------------------------------- */
.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */
p {
  margin: 0px;
}

/* ---------------------------------------------- /*
 * Home
/* ---------------------------------------------- */
#home {
  background: url(../images/cover.png);
  background-color: #222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  min-height: 100vh;
}

.home-overlay {
  background-image: url("../images/pattern.png");
  opacity: 0.84;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.start {
  font-family: Raleway, "Times New Roman", Times, sans-serif;
  font-size: 16px;
  font-style: normal;
  text-transform: none;
  margin: 15px 0;
}

@media (min-width: 1200px) {
  .coach-container {
    width: 1198px;
  }
}

.home-container {
  padding-top: 30px;
}

.header-info {
  position: relative;
  height: 54px;
  width: 100%;
}

.company-name {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 54px;
}

.company-desc {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.company-address {
  top: 50%;
  transform: translateY(25%);
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  vertical-align: middle;
}

.company-address::before {
  content: url('../images/mapIcon.svg');
  position: absolute;
  transform: translate(-50px, -50%);
  height: 24px;
  width: 30px;
  top: 50%;
}

.company-call {
  float: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  height: 54px;
}

.company-number {
  color: #deb880;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.call {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-bottom: 1px #ffffff dashed;
  align-self: flex-end;
  text-decoration: none;
}

.company-call::before {
  content: url('../images/callIcon.svg');
  position: absolute;
  transform: translate(-14px, -50%);
  height: 24px;
  width: 24px;
  top: 50%;
  left: 0;
}

.banner {
  position: relative;
  margin-top: 108px;
}

.banner>h1 {
  margin-bottom: 16px;
}

.callToAction {
  color: #ffffff;
  font-family: "Yeseva One";
  font-size: 64px;
  font-weight: 400;
}

.descriptor {
  color: #deb980;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
}

.advantages-block {
  margin-top: 38px;
  position: relative;
}

.advantage {
  padding: 20px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
}

.advIcon::before {
  content: url('../images/advIcon.svg');
  position: absolute;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
  left: 0;
}

.application {
  position: relative;
  width: 284px;
  height: 83px;
  background-image: url('../images/AppBg.svg');
  text-align: center;
  margin-bottom: 83px;
  text-decoration: none;
  filter: drop-shadow(0px 2px 0px #FFE3A2) drop-shadow(0 8px 0px #D1AA6F);
  margin-top: 102px;
}

.appText {
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
  color: #19273e;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  line-height: 83px;
  text-shadow:
}

.sideScroll {
  position: fixed;
  background: rgba(255, 255, 255, 0.15);
  min-height: 100vh;
  width: 120px;
  float: left;
}

.scrollCounter {
  top: 50vh;
  transform: translateY(-50%);
  min-height: 30px;
  width: 20px;
  left: 0;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.progressPageBar {
  position: relative;
  height: 96px;
  width: 100%;
}

.currentPageBar {
  width: 4px;
  height: 8px;
  top: 0;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
}

.currentPage {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.countPage {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.countPageBar {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: -8px;
  background-color: #fff;
}

/* ---------------------------------------------- /*
 * Testimonials
/* ---------------------------------------------- */
.testimonials-block {
  background-color: #021139;
  overflow: hidden;
  padding-bottom: 67px;
}

.testimonials-header {
  font-family: 'Yeseva One';
  font-size: 48px;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 0px;
}

.testimonials-selected {
  color: #DEB980;
}

.lighted-testimonials {
  background-color: #101942;
}

.institutes-wrapper {
  display: flex;
  width: 1468px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 45px;
}

.realising-institute {
  margin-right: 120px;
  text-align: center;
}

.realising-institute>img {}

.institute-img-wrapper {
  height: 124px;
  text-align: center;
}

.realising-institute:nth-child(4) {
  margin-right: 96px;
}

.realising-institute:last-child {
  margin-right: 0px;
}

.institutes-name {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
}

.testimonials-subheader {
  color: #dec080;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  margin-top: 10px;
}

.wrapper-specializations {
  text-align: center;
}

.specializations-container {
  width: 1335px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.specialization {
  width: 445px;
  height: 445px;
  text-align: center;
  position: relative;
}

.specialization::after {
  content: '';
  position: absolute;
  width: 669px;
  height: 669px;
  top: 0;
  left: 0;
  margin-left: -112px;
  margin-top: -112px;
  background: radial-gradient(circle closest-side, #0b3d6d, transparent);
  z-index: 50;
}

.specialization-img {
  height: 291px;
  padding-top: 100px;
  position: relative;
  z-index: 100;
}

.specialization-img>img {
  height: 150px;
}

.specialization-name {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  z-index: 100;
}

.selected-name {
  color: #deba80;
  font-weight: 600;
}

/* ---------------------------------------------- /*
 * Documents
/* ---------------------------------------------- */
.documents-section {
  background-color: #EFF5FB;
  z-index: 100;
}

.documents-header {
  font-family: 'Yeseva One';
  font-size: 48px;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 0px;
  color: #1D3B5F;
}

.documents-selected {
  color: #DEB980;
}

.documents-container {
  background-color: #EFF5FB;
  text-align: center;
}

.documents-subheader {
  color: #6f839f;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  margin-top: 16px;
}

.document-first-row {
  width: 1066px;
  margin: 0 auto;
  display: flex;
  margin-top: 19px;
}

.document-second-row {
  width: 1066px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 31px
}

.document-first-row>.document>.document-img {
  height: 292px;
}

.document-second-row>.document>.document-img {
  height: 246px;
}

.document-first-row>.document:nth-child(1) {
  width: 372px;
}

.document-first-row>.document:nth-child(2) {
  width: 300px;
  margin-left: 28px;
}

.document-first-row>.document:nth-child(3) {
  width: 300px;
  margin-left: 66px;
}

.document-second-row>.document:nth-child(1) {
  width: 304px;
}

.document-second-row>.document:nth-child(2) {
  width: 304px;
  margin-left: 143px;
}

.document-img {
  text-align: center;
}

.document-name {
  margin-top: 32px;
  text-align: left;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  color: #6F849F;
  line-height: 16px;
  width: fit-content;
  position: relative;
  margin: 0 auto;
}

.doc-type {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  color: #1D3B5F;
  line-height: 18px;
}

.doc-descriptor {
  width: 892px;
  margin: 60px auto;
  text-align: left;
}

.doc-desc-text {
  color: #6f849f;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */
#preloader {
  background: #FFF;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

#status {
  background-image: url(../images/preloader.gif);
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}

/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */
@media (max-width: 480px) {
  h1 {
    font-size: 34px;
    letter-spacing: 3px;
  }

  h2 {
    font-size: 24px;
    margin: 0 0 30px;
    letter-spacing: 3px;
  }
}